body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #f4f4f4;
}
.login-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
input[type="text"] {
  padding: 10px;
  margin: 10px 0;
  width: 92%;
  border: 1px solid #ccc;
  border-radius: 6px;
}
button {
  padding: 10px;
  width: 100%;
  border: none;
  background-color: #5cb85c;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
button:hover {
  background-color: #4cae4c;
}

#incorrectPasswordMessage {
  color: red;
  margin: 0px;

}

@keyframes vibrate{
  
  15% {
    transform: translateX(6px);
  }
  20% {
      transform: translateX(-6px);
  }
  25% {
    transform: translateX(6px);
  }
  30% {
      transform: translateX(-6px);
  }
  35% {
    transform: translateX(6px);
  }
  40% {
      transform: translateX(-6px);
  }
}

.incorrectAnimation {
  animation: vibrate 1000ms;
}
