* {
  margin: 0px;
  padding: 0px;
}

body {
  overflow-x: hidden;
  font-family: "Inter",Arial, Helvetica, sans-serif;
}

.headerImg {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100vw;
  height: calc(1.5 * 100vw);
  border: 1px solid #ccc;
  margin: 0px;
}

.headerImg img {
  width: 100vw;
  height: calc(1.5 * 100vw);
  object-fit: cover;
  position: fixed;
}



.overlayText {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  font-size: 4rem;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 700;
  padding: 10px;
}

.headDivider img {
  width: 100vw;
  transform: translateY(-80%);
}
.bodyStart::before {
  background-color: white;
  height: 100vh;
}

.bodyStart {
  background-color: #DFE3EC;
  padding-top: 30px;

  transform: translateY(-90%);
  text-align: center;
  height: 20vh;
}


.ticketHeader {
  font-size: 1.8rem;
  margin-bottom: 20px;
  padding-left: 20px;
}

.bodyStart a {
  margin: 100px; 
  background-color: white;
  padding-left: 20px;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  text-decoration: none;
  font-size: 1.5rem;
  color: #000;
  border-radius: 15px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
}

.bodyStart a:hover {
  background-color: hsl(0, 0%, 95%);
}

.headerBottom {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  background-color: white;
  width: 100vw;
  padding-top: 10px;
  transform: translateY(-140%);
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.toKnowList li {
  font-size: 1.1rem;
  padding-left: 20px;
}

.toKnowList {
  background-color: #fff;
  transform: translateY(-58%);
}

.tklTitle {
  text-align: center;
  padding-top: 20px;
  font-size: 1.6rem;
}
