* {
  margin: 0px;
}

body {

  font-family: "Inter",Arial, Helvetica, sans-serif;
}

.headerImg {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100vw;
  height: calc(1.5 * 100vw);
  border: 1px solid #ccc;
  margin: 0px;
}

.headerImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlayText {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  font-size: 4rem;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 700;
  padding: 10px;
}

@keyframes scrollUp {
  15% {
    transform: translateY(-10%);
  }
  30% {
    transform: translateY(-20%);
  }
  50% {
    transform: translateY(-40%);
  }
  70% {
    transform: translateY(-60%);
  }
  100% {
    transform: translateY(-80%);
  }
}
.headDivider img {
  width: 100vw;
  transform: translateY(-80%);
}

.scrollPart {
  animation: scrollUp ease;
  animation-timeline: view();
  animation-range: cover 40%;
}



.headerBottom {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  background-color: white;
  width: 100vw;
  padding-top: 10px;
  transform: translateY(-140%);
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.headerBottom li {
  font-size: 1.5rem;
}
